.container-section-graphics {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.container-section-graphics h1 {
  text-align: center;
  font-size: 2.8rem;
  justify-content: center;
  color: #fff;
}

.container-section-graphics .container-form-info {
  position: absolute;
  width: 50%;
  margin-top: 5rem;
}

.container-section-graphics .container-form-info h2 {
  color: #fff;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.container-section-graphics .container-form-info .form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.container-section-graphics .container-form-info .form input {
  width: 280px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #fff;
  margin: 10px 0;
  background-color: transparent;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  justify-content: center;
}

.container-section-graphics .container-form-info .form button {
  width: 200px;
  height: 40px;
  outline: none;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.container-section-graphics .container-form-info .form button:hover {
  background-color: #fff;
  color: #000;
  transition: var(--transition);
}

.container-section-graphics .container-graphics-info {
  width: 50%;
  position: absolute;
  margin-top: 5rem;
  right: 0;
}

.container-section-graphics .container-graphics-info .graphics {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-section-graphics .container-graphics-info .graphics h3 {
  color: #fff;
  margin-bottom: 2rem;
}

.container-section-graphics .container-graphics-info .graphics .graphic {
  width: 500px;
  height: 250px;
  margin-bottom: 4rem;
  color: #fff;
}
