.container-register {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: 3;
}

.container-register .container-content-register {
  width: 80%;
  height: 90%;
  background-color: #13131a;
  display: block;
  margin: auto;
  margin-top: 2rem;
  border-radius: 3rem;
  box-shadow: 0 0 20px #fff;
}

.container-register .container-content-register .container-login-img {
  width: 60%;
  height: 100%;
}

.container-register .container-content-register .container-login-img img {
  position: relative;
  top: 80px;
  left: 70px;
  width: 60%;
}

.container-register .container-content-register .container-form {
  position: absolute;
  top: 34px;
  left: 545px;
  height: 90%;
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.container-register .container-content-register .container-form .form {
  margin-top: 30px;
}

.container-register .container-content-register .container-form .form h2 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.container-register .container-content-register .container-form .form p {
  color: rgba(255, 255, 255, 0.365);
}

.container-register .container-content-register .container-form .form .input {
  width: 320px;
  height: 50px;
  color: #fff;
  font-size: 1.1rem;
  padding: 0 35px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  outline: none;
}

.container-register .container-content-register .container-form .form i {
  position: relative;
  top: 35px;
  color: #fff;
  left: -140px;
}

.container-register .container-content-register .container-form .error {
  padding-top: 0.5rem;
  font-weight: 900;
  color: red;
}

.container-register .container-content-register .container-form button {
  width: 250px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.5s;
}

.container-register .container-content-register .container-form button:hover {
  background-color: var(--color-main);
}

.container-register
  .container-content-register
  .container-form
  .container-already
  h5 {
  margin-top: 1.3rem;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.container-register
  .container-content-register
  .container-form
  .container-already
  h5
  .inicia-sesion {
  color: var(--color-main);
}

.container-register .container-back-reg {
  position: absolute;
  top: 25px;
  left: 20px;
}

.container-register .container-back-reg i {
  color: #fff;
  z-index: 3;
  font-size: var(--title-size);
}
