.container-create-rutine {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #040404;
}

.container-create-rutine .container-link-back {
  position: absolute;
  top: 30px;
  left: 30px;
}

.container-create-rutine .container-link-back .link-back {
  color: #fff;
  font-size: 1.7rem;
}

.container-create-rutine h1 {
  text-align: center;
  color: #fff;
  font-size: 2.8rem;
  margin-top: 2rem;
}

.container-create-rutine .container-form {
  width: 35%;
  height: 450px;
  background-color: #13131a;
  display: block;
  margin: auto;
  margin-top: 3rem;
  overflow: hidden;
  border-radius: 15px;
}

.container-create-rutine .container-form .container-header-pasos {
  width: 100%;
  height: 80px;
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers {
  position: relative;
  z-index: 3;
  background-color: #13131a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgba(255, 255, 255, 255);
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item {
  text-align: center;
  margin-bottom: 20px;
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item
  .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item
  .circle
  i {
  position: absolute;
  display: none;
  color: #fff;
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item:nth-child(1)
  .circle::before {
  content: "";
  position: absolute;
  margin-left: 10rem;
  background-color: #fff;
  width: 130px;
  height: 2px;
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item:nth-child(1)
  .circle.change::before {
  background-color: rgb(8, 170, 105);
  transition: var(--transition);
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item:nth-child(2)
  .circle.change::before {
  background-color: rgb(8, 170, 105);
  transition: var(--transition);
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item:nth-child(2)
  .circle::before {
  content: "";
  position: absolute;
  margin-left: 10rem;
  background-color: #fff;
  width: 130px;
  height: 2px;
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  h5 {
  font-size: 1rem;
  padding: 1rem 3rem;
  color: #fff;
}

.container-create-rutine .container-form .form .steps {
  display: flex;
  text-align: left;
  justify-content: left;
  justify-items: left;
  align-items: left;
  flex-direction: column;
  margin-top: 1rem;
  z-index: 2;
}

.container-create-rutine .container-form .form .steps.change {
  transform: translateY(-600px);
  transition: var(--transition);
}

.container-create-rutine .container-form .form .steps .item {
  margin: 1rem 3rem;
}

.container-create-rutine .container-form .form .steps .item h4 {
  color: #fff;
  font-stretch: 1.5rem;
}

.container-create-rutine .container-form .form .steps .item input {
  width: 100%;
  height: 45px;
  margin: 1rem 0;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0 5px;
  outline: none;
  color: #fff;
  font-size: 1.1rem;
}

.container-create-rutine .container-form .form .steps .item select {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
  font-size: 1.1rem;
}

.container-create-rutine .container-form .form .steps .btn-sig {
  width: 80%;
  height: 40px;
  background-color: rgb(8, 170, 105);
  border: none;
  border-radius: 5px;
  padding-top: 6px;
  display: block;
  margin: auto;
  margin-top: 1.2rem;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
}

.container-create-rutine .container-form .form .steps .btn-sig .send {
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item
  .circle.change {
  background-color: rgb(8, 170, 105);
  transition: var(--transition);
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item
  .circle.change
  span {
  display: none;
}

.container-create-rutine
  .container-form
  .container-header-pasos
  .container-headers
  .item
  .circle
  i.change {
  display: block;
}

.message {
  color: #ff0000;
}

.container-create-rutine .container-form .form .steps .two {
  transform: translateY(500px);
  transition: var(--transition);
}

.container-create-rutine .container-form .form .steps.two.change {
  transform: translateY(-310px);
  transition: var(--transition);
}

.container-create-rutine .container-form .form .steps.two.change.move {
  transform: translateY(-810px);
  transition: var(--transition);
}

.container-create-rutine .container-form .form .steps.three {
  transform: translateY(500px);
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-create-rutine .container-form .form .steps.three.move {
  transform: translateY(-550px);
  transition: var(--transition);
}

.container-create-rutine .container-form .form .steps.three .item {
  position: relative;
  top: -80px;
}

.container-create-rutine .container-form .form .steps .item textarea {
  position: relative;
  width: 300px;
  height: 75px;
  margin: 1rem 0;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0 5px;
  outline: none;
  color: #fff;
  font-size: 1.1rem;
}
