.section-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: #13131a;
  transform-origin: left;
  transition: var(--transition);
}

.section-settings .container-settings .container-settings-title {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.section-settings .container-settings .container-settings-title h1 {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 2rem;
}

.section-settings .container-settings .container-settings-title::after {
  content: "";
  position: absolute;
  top: 80px;
  width: 90%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4);
}

.section-settings .container-settings .config-aside {
  width: 420px;
  height: 100%;
  margin-top: 70px;
}

.section-settings .container-settings .config-aside .personal-info-top div {
  width: 120px;
  height: 120px;
  background-color: #21262d;
  margin-left: 20px;
  border-radius: 50%;
}

.section-settings .container-settings .config-aside .personal-info-top h2 {
  position: absolute;
  top: 130px;
  left: 160px;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 20px;
}

.section-settings .container-settings .config-aside .personal-info-top h3 {
  position: absolute;
  top: 190px;
  left: 145px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  margin-left: 20px;
}

.section-settings .container-settings .config-aside .container-list-config {
  width: 100%;
  height: 100%;
  margin-top: 45px;
  margin-left: 35px;
}

.section-settings
  .container-settings
  .config-aside
  .container-list-config
  .list-config {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.section-settings
  .container-settings
  .config-aside
  .container-list-config
  .list-config
  li {
  width: 80%;
  height: 100%;
  margin: 15px 0;
  transition: var(--transition);
  border-radius: 15px;
}

.section-settings
  .container-settings
  .config-aside
  .container-list-config
  .list-config
  li:hover {
  background-color: #484f58;
  transition: var(--transition);
}

.section-settings
  .container-settings
  .config-aside
  .container-list-config
  .list-config
  li
  h6 {
  position: relative;
  top: -13px;
  left: 50px;
  color: #fff;
  font-size: 1.2rem;
}

.section-settings
  .container-settings
  .config-aside
  .container-list-config
  .list-config
  li
  i {
  position: relative;
  top: 11px;
  left: 10px;
  color: #fff;
  font-size: 1.3rem;
}

.section-settings
  .container-settings
  .config-aside
  .container-list-config
  .container-quit-sesion {
  position: absolute;
  top: 680px;
  left: 40px;
}

.section-settings
  .container-settings
  .config-aside
  .container-list-config
  .container-quit-sesion
  button {
  width: 200px;
  height: 30px;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
  font-weight: bold;
}

.section-settings
  .container-settings
  .config-aside
  .container-list-config
  .container-quit-sesion
  button
  i {
  position: relative;
  top: 2px;
  font-size: 1.3rem;
  padding-right: 10px;
}

.section-settings .container-settings .container-config-parts {
  width: 69%;
  height: 83.6vh;
  position: absolute;
  top: 130px;
  left: 420px;
}

.section-cuenta {
  width: 100%;
  height: 83.6vh;
}

.section-cuenta .container-cuenta-info .container-cuenta-title {
  position: relative;
  top: 80px;
  left: 30px;
  width: 100%;
  height: 70px;
}

.section-cuenta .container-cuenta-info .container-cuenta-title::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.section-cuenta .container-cuenta-info .container-cuenta-title h2 {
  font-size: 1.9rem;
  color: #fff;
  margin-bottom: 10px;
}
